extends test_layout

block content

	.container-fluid.container-guide
		.row
			.col-xs-12
				#accordion.panel-group(role='tablist', aria-multiselectable='true')
					each item, i in menuItems
						- tabIndex = i + 1
						- tabID = "collapse" + tabIndex
						.panel.panel-default
							#headingTwo.panel-heading(role='button', data-toggle='collapse', data-parent='#accordion', aria-expanded='false', href="##{tabID}", aria-controls="#{tabID}")
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', aria-expanded='false', href="##{tabID}", aria-controls="#{tabID}")
										= item.name
							div.panel-collapse.collapse(id="#{tabID}", role='tabpanel', aria-labelledby='headingTwo')
								.panel-body
									!= item.content

	nav#nav-main.nav.navbar.navbar-default.navbar-fixed-bottom
		.container-fluid
			.navbar-header
				a.text-muted Safety Reference Guide - City of Fort Collins	
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.text-primary(href="/") Reference Guide
					li
						a.text-primary(href="/about") About
		.container-fluid
			.row
				.col-xs-12
					.clearfix

	